<h3>Olá {{name}},</h3>


<p>Confirme seu e-mail e receba sua senha clicando no link abaixo.</p>


<h5><a href="{{link}}" target="_blank">{{link}}</a></h5>

<hr>
<small>
  Att,
  Equipe Future Soluções
</small>

