<h2>{{name}}</h2>

<h3>Recuperando sua senha</h3>

<p>Acesse o link abaixo para alterar ela.</p>


<p><a href="{{ link_with_token }}">{{ link_with_token }}</a></p>

<hr>

<h3>Caso não tenha sido você, recomendamos acessar seu perfil e alterar a senha.</h3>

<p><a href="{{link}}">{{link}}</a></p>

<small>
  Atenciosamente
  Equipe Future Solucões
</small>
