<h2>{{name}}</h2>

<h3>Recuperando sua senha</h3>

<p>Acesse o link abaixo para criar uma nova senha.</p>


<p><a href="{{linkWithToken}}">Clique aqui!</a></p>

<hr>

<h3>Caso não tenha sido você, recomendamos acessar seu perfil e alterar a senha.</h3>

<p><a href="{{link}}">{{link}}</a></p>

<small>
  Atenciosamente
  Equipe Future Solucões
</small>
