<h3>Olá {{name}},</h3>


<p>Parabéns por confirmar seu cadastro. Abaixo segue a senha para acessar o Gesmod.</p>


<h5>Sua senha: <span>{{password}}</span></h5>


<p><a href="{{link}}">Gesmod</a></p>

<hr>
<small>
  Att,
  Equipe Future Soluções
</small>

